<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860079861218-jor3tqctgoc7li6hln6h5s7cq65jhj97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860079861218-jor3tqctgoc7li6hln6h5s7cq65jhj97</string>
	<key>API_KEY</key>
	<string>AIzaSyDqcUuxFQ4II8icNW8_CF2ZmBlVMt-NE6A</string>
	<key>GCM_SENDER_ID</key>
	<string>860079861218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sourav.TwitterX</string>
	<key>PROJECT_ID</key>
	<string>twitterx-87c8d</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterx-87c8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860079861218:ios:c3f82cbc98548604a99dbb</string>
</dict>
</plist>